{
  "swagger": "2.0",
  "info": {
    "title": "Financial Security Test API",
    "description": "Data logging and sample JSON responses API",
    "version": "1.0.1",
    // 💡 Copilot Studio 유효성 검사를 위해 'contact' 객체 추가
    "contact": {
      "name": "API Developer",
      "url": "https://port-0-testapi-mgq13w45c45ff710.sel3.cloudtype.app",
      "email": "developer@example.com"
    }
  },
  "host": "port-0-testapi-mgq13w45c45ff710.sel3.cloudtype.app",
  "schemes": ["https"],
  "basePath": "/",
  "paths": {
    "/insert/{data}": {
      "get": {
        // 💡 Copilot Studio/플러그인 액션 식별을 위한 'operationId' 추가
        "operationId": "insertData",
        "summary": "Insert Data",
        "description": "Stores received data to a log file.",
        "parameters": [
          {
            "name": "data",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "message": { "type": "string" },
                "inserted_data": { "type": "string" },
                "timestamp": { "type": "string" },
                "file": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/read/1": {
      "get": {
        // 💡 'operationId' 추가
        "operationId": "readSampleResponse1",
        "summary": "Read Sample Response 1",
        "description": "Returns sample JSON 1.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "status": { "type": "string" },
                "description": { "type": "string" },
                "security_level": { "type": "string" },
                "timestamp": { "type": "string" }
              }
            }
          }
        }
      }
    },
    "/read/2": {
      "get": {
        // 💡 'operationId' 추가
        "operationId": "readSampleResponse2",
        "summary": "Read Sample Response 2",
        "description": "Returns sample JSON 2.",
        "parameters": [],
        "responses": {
          "200": {
            "description": "Successful Response",
            "schema": {
              "type": "object",
              "properties": {
                "id": { "type": "integer" },
                "status": { "type": "string" },
                "description": { "type": "string" },
                "security_level": { "type": "string" },
                "timestamp": { "type": "string" }
              }
            }
          }
        }
      }
    }
  }
}